h1 {
    font-style: italic;
    color: brown;
    text-align: center;
    font-size: 100px;
    border: 5px solid rgb(252, 250, 250);
}

h2 {
    text-align: center;
    color: white;
}

p {
    font-size: 20px;
    color: rgb(250, 249, 249);
    text-align: center;
}

b {
    color: rgba(250, 245, 243, 0.335);
}

#andraz {
    color: brown;
}

.joze {
    color:cyan
}

.big {
    font-size: 40px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    align-content: center;
  }

  body {background-color: black;}


  button {
      color: rgb(7, 7, 7);
  }

  #glavna_slika {
    width: 250;
    border: 5px solid rgb(247, 246, 246);
    border-radius: 20px;

  }

  .slika {
      border-color: yellow;
      border-style: double;
      width: 250px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 20%;
      align-content: center;
  }

  img:hover {
    border-style: dotted;
  }

  p:hover {
    border-style: dotted;
    border-color: whitesmoke;
    display: block;
      margin-left: auto;
      margin-right: auto;
      width: 20%;
  }


 
